body {
    background-color: rgb(62, 62, 63);
}


h1 {
    font-family: monospace, 'Times New Roman';
    font-style: italic;
    color: rgb(224, 160, 33);
    text-shadow: 2px 1px 2px rgb(81, 49, 5);
    text-align:center;
}


h3 {
    font-family: monospace, 'Times New Roman';
    color: rgb(0, 197, 174);
    text-shadow: 2px 1px 5px rgb(113, 15, 0);
    text-align:center;
}

h4 {
    font-family: monospace, 'Times New Roman';
    color: rgb(255, 255, 255);

    text-align:center;
}

p {
    font-family: 'Times New Roman';
    color: rgb(255, 255, 255);
    
text-align:center;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 0;

}
#footer-format{
    display:flex ;
    justify-content: space-evenly;
}
.email{
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: 'Times New Roman';
    color: rgb(255, 255, 255);
    text-align:center;
    margin-right: 50px;
    margin-left: 50px;
}

.site-footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 18px;
}

/* Media query for smaller screens (mobile) */
@media (max-width: 600px) {
    .site-footer {
        font-size: 14px;           /* Smaller text */
        padding: 30px 0;           /* Less padding */
        background-color: #313131;    /* Different background */
    }
}