h1{
    text-align: center;
    font-family: monospace, 'Times New Roman';
    font-style: italic;
    color: rgb(224, 160, 33);
    text-shadow: 2px 1px 2px rgb(81, 49, 5);
}
h2{
    text-align: center;
    font-family: monospace, 'Times New Roman';
    color: rgb(0, 197, 174);
    text-shadow: 2px 1px 5px rgb(113, 15, 0);
    font-size: 30px;
}
.MGTable{
    display: flex;
    justify-content: center;
}
body{
    background-color: rgb(1, 4, 15);
}
.Image-Holder{
    position: relative;
    width: 200;
    height: 350;

}
.Image-Holder .image,.Image-Holder .Text-Hover{
    transition: opacity 0.5s ease-in-out;
}
.Image-Holder .Text-Hover{
    position: absolute;
    top:0;
    left:0;
    opacity:0;
}
.Image-Holder:hover .image{
    opacity: 0;
}
.Image-Holder:hover .Text-Hover{
    opacity: 1;
}
p {
    font-family: 'Times New Roman';
    color: rgb(255, 255, 255);
   
}
img{
    
    border: 3px solid rgb(117, 84, 2);
    border-radius: 3px;
}
h3{
    font-family: monospace, 'Times New Roman';
    margin-bottom: 0px;
    margin-left: 50px;
    margin-right:50px;
    font-size: 20px;
    color: rgb(0, 197, 174);
    text-shadow: 2px 1px 2px rgb(113, 15, 0);
    text-align: center;
    background-color: rgb(98, 83, 0);
}
#contains-all{
    margin:0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}
.page-Border{
    margin:0;
    padding: 0;
    width: 200px;
    background-image: url("/Pages/Mythology/Images/border_pattern.png");
    background-repeat: repeat-y;
}
body{
    padding: 0;
    margin: 0;
}
.the-Line{
    margin-left: 103px;;
    padding: 0;
    width: 1200px;
    background-repeat: no-repeat;
    height: 5px;
    background-image:url("/Pages/Mythology/Images/the-Line.png") ;
}
.Myth-Body{
    
    display: flex;
    justify-content: center;
    background-color: rgb(67, 67, 67);
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 5px;
    border-style: solid;
    border-color: rgb(151, 129, 0);
   
}
.myth-text-holder{
    width: 600px;
    margin-left: 50px;
    margin-right: 50px;
}
#Myths-Overall{
    margin-top: 50px;
}
.container{
    display: grid;
    gap: 15px;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
}
.myth-image-switch-first{
    display: none;
}
@media  screen and (max-width: 800px) {
    .container{
        grid-template-columns: auto auto;
       }
    .Myth-Body{
        display:grid;
        justify-content: center;
       
    }   
    .the-Line{
        width: 400px;
        margin-left: 50px;
    }
    .myth-text-holder{
        width: 300px;
   
    }
    .page-Border{
        width: 160px;
    }
    .myth-image{
        margin-left: 50px;
    }
    .myth-image-switch-first{
        display:initial;
        margin-left: 50px;
    }
    .myth-image-switch-last{

        display: none;
    }
 
}
@media screen and (max-width:400px){
    .container{
        grid-template-columns: auto;
    }
    .the-Line{
        margin-left:50px;
    }

}
.dropDown{
    position: relative;
    display: inline-block;
}
#MajorGodsButton{
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
}
.dropHolder{
    display: none;
    position:absolute;
    top: 100%;
    left:0;
    min-width: 500px;
}
#MajorHeadings{
    font-size: 60px;
}



/* footer css */
footer {
    background-color: rgb(62, 62, 63);
    font-family: 'Times New Roman', monospace;
    margin: 0;
    padding: 0;
}

/* -------------------- Headings -------------------- */


h4 {
    color: rgb(255, 255, 255);
    text-align: center;
}

/* -------------------- Paragraphs -------------------- */
.paragraph-footer, .email {
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0 50px 0 50px;
}

/* -------------------- Footer Container -------------------- */
.site-footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 18px;
}

/* Inner Footer Layout */
#footer-format {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; /* ensures items wrap on small screens */
    padding: 10px 20px;
}

/* Footer Email or Links */
.email {
    font-size: 12px;
    margin: 5px 50px;
    color: white;
    text-align: center;
}

/* -------------------- Desktop vs Mobile Views -------------------- */
/* By default (desktop): hide the mobile dropdown version */
.mobile-view {
    display: none;
}

/* By default (desktop): show the normal footer layout */
.desktop-view {
    display: block;
}

/* -------------------- Responsive Design (Mobile) -------------------- */
@media (max-width: 800px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;  /* vertical centering */
        align-items: center;      /* horizontal centering */
        min-height: 100vh;
    }

    .paragraph-footer, .email {
        width: 90%;
        margin: 5px auto;
        text-align: center;
    }

    #footer-format {
        flex-direction: column;
        align-items: center;
    }

    /* On small screens: hide desktop, show mobile dropdown footer */
    .desktop-view {
        display: none;
    }

    .mobile-view {
        display: block;
    }
}

/* -------------------- Dropdown Styles -------------------- */
.dropbtn {
  background-color: rgb(1, 4, 15);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change background when dropdown is open */
.dropdown:hover .dropbtn {
  background-color: rgb(0, 197, 174);
}


footer,
.site-footer {
  width: 100vw;                 
  max-width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  box-sizing: border-box;
}

/* Wrap footer items nicely on small screens so it fits in to size*/
#footer-format {
  display: flex;
  flex-wrap: wrap;              
  justify-content: space-between;
  gap: 16px;
}
#footer-format > * {
  flex: 1 1 240px;              
  max-width: 100%;
}

@media (max-width: 600px) {
  #footer-format { justify-content: center; text-align: center; }
}
