body {
    background-image: linear-gradient(to bottom, rgb(46, 1, 1), rgb(5, 0, 18));
     display: inline-grid;
    grid-template-rows: 10% 1fr 15% 1fr 20% 1fr 20% 1fr 20% 1fr 10% 1fr;
}


.navbar {
    color: white;
}

.title {
    display: inline-grid;
    justify-content: center;
    align-items: center;
    font-family: monospace, 'Times New Roman';
    font-style: italic;
    color: rgb(224, 160, 33);
    text-shadow: 2px 1px 2px rgb(81, 49, 5);
    width: 100%;
    font-size: 35px;
    background-color: rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 40, 36) ;
    border-radius: 5px;
}

#subheading {
    font-family: monospace, 'Times New Roman';
    color: rgb(0, 197, 174);
    text-shadow: 2px 1px 5px rgb(113, 15, 0);
    font-size: 35px;
    text-align: center;
    padding: 0%;
}

p {font-family: 'Times New Roman';
    color: rgb(255, 255, 255);
} 

/*---------------------------------------------------------------------------------*/
/*phone*/
@media screen and (min-width: 10px) and (max-width: 700px){

img {
    font-family: monospace, 'Times New Roman';
    object-fit: cover;
    border: 3px solid rgb(117, 84, 2);
    border-radius: 3px;
    color: white;
    max-width: 300px;
    min-width: 200px;
    margin: 0px 90px;
}

.Burial {
    display: grid;
    grid-template-rows: 15% 1fr 80% 1fr;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
    background-color:rgb(46, 1, 1);
    border: 3px solid rgb(19, 1, 0);
    border-radius: 7px;
    padding: 15px;
    box-shadow: 2px 2px 10px rgb(16, 0, 0);
    height: 800px;
    max-width: 95%;
}

#burial-heading {
    display: flex;
    background-color:rgba(135, 118, 59, 0.191);
    border: 3px solid rgb(10, 3, 1);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    max-height: 55px;
    min-width: 95%;
}

#left-burial {
    display: grid;
    grid-template-rows: 20% 1fr 80% 1fr;
    justify-content: center;
    text-align: left;
    align-items: center;
    margin: 30px 30px;
}


.Afterlife {
    display: grid;
    grid-template-rows: 15% 1fr 80% 1fr;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color:rgb(46, 1, 1);
    border: 3px solid rgb(19, 1, 0);
    border-radius: 7px;
    padding: 15px;
    box-shadow: 2px 2px 10px rgb(16, 0, 0);
    height: 800px;
    max-width: 95%;
}

#right-after {
    display: grid;
    grid-template-rows: 20% 1fr 80% 1fr;
    justify-content: row-reverse;
    text-align: left;
    align-items: center;
    margin: 30px 30px;
}

#after-headings {
    display: flex;
    background-color:rgba(135, 118, 59, 0.191);
    border: 3px solid rgb(10, 3, 1);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    max-height: 55px;
    min-width: 95%;
}

.Rob {
    display: grid;
    grid-template-rows: 15% 1fr 80% 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 30px;
    background-color:rgb(46, 1, 1);
    border: 3px solid rgb(19, 1, 0);
    border-radius: 7px;
    padding: 15px;
    box-shadow: 2px 2px 10px rgb(16, 0, 0);
    height: 625px;
    max-width: 95%;
}

#left-rob {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    text-align: left;
    align-items: center;
}

#rob-headings {
    display: flex;
    background-color: rgba(135, 118, 59, 0.191);
    border: 3px solid rgb(10, 3, 1);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    max-height: 55px;
    min-width: 95%;
}

footer {
    background-color: rgba(0, 255, 4, 0.03);
    border: 3px solid rgb(19, 1, 0);
    border-radius: 7px;
    padding: 15px;
    box-shadow: 2px 2px 10px rgb(16, 0, 0);
    height: 50px;
    max-width: 95%;
}
}
/*---------------------------------------------------------------------------------*/
/*Desktop*/
@media screen and (min-width: 700px) and (max-width: 2768px){

img {
    font-family: monospace, 'Times New Roman';
    object-fit: cover;
    border: 3px solid rgb(117, 84, 2);
    border-radius: 3px;
    color: white;
    max-width: 500px;
    min-width: 400px;
    margin: 0px 10px;
}

.Burial {
    display: grid;
    grid-template-rows: 15% 1fr 80% 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 30px;
    background-color:rgb(46, 1, 1);
    border: 3px solid rgb(19, 1, 0);
    border-radius: 7px;
    padding: 15px;
    box-shadow: 2px 2px 10px rgb(16, 0, 0);
    height: 550px;
    max-width: 95%;
}

#burial-heading {
    display: flex;
    background-color:rgba(135, 118, 59, 0.191);
    border: 3px solid rgb(10, 3, 1);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    max-height: 55px;
    min-width: 95%;
}

#left-burial {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    text-align: left;
    align-items: center;
}


.Afterlife {
    display: grid;
    grid-template-rows: 15% 1fr 80% 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 30px;
    background-color:rgb(46, 1, 1);
    border: 3px solid rgb(19, 1, 0);
    border-radius: 7px;
    padding: 15px;
    box-shadow: 2px 2px 10px rgb(16, 0, 0);
    height: 550px;
    max-width: 95%;
}

#right-after {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    text-align: left;
    align-items: center;
}

#after-headings {
    display: flex;
    background-color: rgba(135, 118, 59, 0.191);
    border: 3px solid rgb(10, 3, 1);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    max-height: 55px;
    min-width: 95%;
}

.Rob {
    display: grid;
    grid-template-rows: 15% 1fr 80% 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 30px;
    background-color:rgb(46, 1, 1);
    border: 3px solid rgb(19, 1, 0);
    border-radius: 7px;
    padding: 15px;
    box-shadow: 2px 2px 10px rgb(16, 0, 0);
    height: 625px;
    max-width: 95%;
}

#left-rob {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    text-align: left;
    align-items: center;
}

#rob-headings {
    display: flex;
    background-color: rgba(135, 118, 59, 0.191);
    border: 3px solid rgb(10, 3, 1);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    max-height: 55px;
    min-width: 95%;
}

footer {
    background-color: rgba(0, 255, 4, 0.03);
    border: 3px solid rgb(19, 1, 0);
    border-radius: 7px;
    padding: 15px;
    box-shadow: 2px 2px 10px rgb(16, 0, 0);
    height: 50px;
    max-width: 95%;
}
}