body {
    background-image: linear-gradient(to bottom, rgb(46, 1, 1), rgb(5, 0, 18));
    display: grid;
    grid-auto-rows: auto;
    justify-items: center;
    gap: 40px;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', serif;
}

.navbar {
    color: white;
}

.title {
    text-align: center;
    font-family: monospace, 'Times New Roman';
    font-style: italic;
    color: rgb(224, 160, 33);
    text-shadow: 2px 1px 2px rgb(81, 49, 5);
    width: 100%;
    padding: 30px 10px;
    font-size: 35px;
    background-color: rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 40, 36);
    border-radius: 5px;
}

.subheadings {
    font-family: monospace, 'Times New Roman';
    color: rgb(0, 197, 174);
    text-shadow: 2px 1px 5px rgb(113, 15, 0);
    font-size: 35px;
    text-align: center;
    margin: 10px 0;
}

p {
    color: white;
    line-height: 1.6;
    margin: 10px 0;
}

.Burial, .Afterlife, .Rob {
    background-color: rgb(46, 1, 1);
    border: 3px solid rgb(19, 1, 0);
    border-radius: 7px;
    box-shadow: 2px 2px 10px rgb(16, 0, 0);
    padding: 25px;
    max-width: 95%;
    width: 100%;
}

#burial-heading, #after-headings, #rob-headings {
    background-color: rgba(135, 118, 59, 0.191);
    border: 3px solid rgb(10, 3, 1);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
}

footer {
    background-color: rgba(0, 255, 4, 0.03);
    border: 3px solid rgb(19, 1, 0);
    border-radius: 7px;
    padding: 15px;
    box-shadow: 2px 2px 10px rgb(16, 0, 0);
    text-align: center;
    color: white;
}

/*-----------------------------------------------------------------------------------------*/
/* Phones */
@media screen and (max-width: 699px) {
    img {
        object-fit: cover;
        border: 3px solid rgb(117, 84, 2);
        border-radius: 3px;
        max-width: 90%;
        height: auto;
        display: block;
        margin: 15px auto;
    }

    #left-burial, #right-after, #left-rob {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        text-align: center;
    }
}
/*-----------------------------------------------------------------------------------------*/
/* Desktop */
@media screen and (min-width: 700px) {
    img {
        object-fit: cover;
        border: 3px solid rgb(117, 84, 2);
        border-radius: 3px;
        max-width: 400px;
        height: auto;
        display: block;
    }

    #left-burial, #right-after, #left-rob {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        gap: 25px;
        text-align: left;
    }

    .Burial, .Afterlife, .Rob {
        margin-top: 30px;
        padding: 30px 40px;
    }
}
