body {
    background-image: linear-gradient(to bottom, rgb(46, 1, 1), rgb(5, 0, 18));
    display: inline-grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    min-width: 100%;
}

.navbar {
    color: white;
}

.header {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: monospace, 'Times New Roman';
    font-style: italic;
    color: rgb(224, 160, 33);
    text-shadow: 2px 1px 2px rgb(81, 49, 5);
    width: 100%;
    font-size: 35px;
    background-color: rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 40, 36) ;
}

#subheadings {
    font-family: monospace, 'Times New Roman';
    color: rgb(0, 197, 174);
    text-shadow: 2px 1px 5px rgb(113, 15, 0);
    font-size: 35px;
}

img {
    font-family: monospace, 'Times New Roman';
    object-fit: cover;
    border: 3px solid rgb(117, 84, 2);
    border-radius: 3px;
    color: white;
    max-width: 400px;
    margin: 0px 10px;
}


p {font-family: 'Times New Roman';
    color: rgb(255, 255, 255);
} 


.Burial {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin-top: 30px;
    background-color: rgba(0, 255, 4, 0.03);
    border: 3px solid rgb(19, 1, 0);
    border-radius: 7px;
    padding: 15px;
    box-shadow: 2px 2px 10px rgb(16, 0, 0);
}

#left-burial {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    text-align: center;
}


.Afterlife {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin-top: 30px;
    background-color: rgba(0, 255, 4, 0.03);
    border: 3px solid rgb(19, 1, 0);
    border-radius: 7px;
    padding: 15px;
    box-shadow: 2px 2px 10px rgb(16, 0, 0);
}

#right-after {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    text-align: center;
}

