body {
    background-color: rgb(105, 96, 111);
    text-align: center;
    margin: 0;
    position: relative;
    padding: 0;
    overflow-x: hidden;
}

h1 {
    font-family: monospace, 'Times New Roman';
    font-style: italic;
    color: rgb(203, 140, 15);
    text-shadow: 2px 1px 2px rgb(53, 52, 49);
    text-align: center;
    padding: 15px 0; 
    background-color: rgb(53, 52, 49);
    margin-top: 0;
}

h3 {
    font-family: monospace, 'Times New Roman';
    color: rgb(0, 197, 174);
    text-shadow: 2px 1px 5px rgb(53, 52, 49);
    text-align: center;
    padding: 10px 0;
    background-color: rgb(53, 52, 49);
}

p {
    font-family: 'Times New Roman';
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 0 60px;
}

img {
    object-fit: cover;
    max-width: 300px;
    max-height: 300px;
    border: 3px solid rgb(53, 52, 49);
    border-radius: 3px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.highlight {
  background-color: rgb(84, 82, 78);
  padding: 20px;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
    body {
        padding: 5px;
        text-align: left;
    }

    h1 {
        font-size: 20px;
        padding: 10px 0;
    }

    h3 {
        font-size: 16px;
        padding: 8px 0;
    }

    p {
        padding: 0 15px;
        font-size: 14px;
    }

    img {
        max-width: 90%;
        height: auto;
    }
    .vertical-border {
        width: 10px;
    }
}