h1{
    text-align: center;
    font-family: monospace, 'Times New Roman';
    font-style: italic;
    color: rgb(224, 160, 33);
    text-shadow: 2px 1px 2px rgb(81, 49, 5);
}
h2{
    text-align: center;
    font-family: monospace, 'Times New Roman';
    color: rgb(0, 197, 174);
    text-shadow: 2px 1px 5px rgb(113, 15, 0);
}


.MGTable{
    display: flex;
    justify-content: center;
}
body{
    background-color: rgb(1, 4, 15);
}
.Image-Holder{
    position: relative;
    width: 200;
    height: 350;

}
.Image-Holder .image,.Image-Holder .Text-Hover{
    transition: opacity 0.5s ease-in-out;
}
.Image-Holder .Text-Hover{
    position: absolute;
    top:0;
    left:0;
    opacity:0;
}
.Image-Holder:hover .image{
    opacity: 0;
}
.Image-Holder:hover .Text-Hover{
    opacity: 1;
}
th{
   padding-right: 50;
   padding-left: 50;
   padding-bottom: 50;
}
p {
    font-family: 'Times New Roman';
    color: rgb(255, 255, 255);
   
}
img{
    
    border: 3px solid rgb(117, 84, 2);
    border-radius: 3px;
}
h3{
    font-family: monospace, 'Times New Roman';
    margin-bottom: 3;
    padding-bottom: 5px;
    color: rgb(0, 197, 174);
    text-shadow: 2px 1px 2px rgb(113, 15, 0);
    text-align: center;
}
#contains-all{
    margin:0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}
.page-Border{
    margin:0;
    padding: 0;
    width: 200px;
    background-image: url("/Pages/Mythology/Images/border_pattern.png");
    background-repeat: repeat-y;
}


body{
    padding: 0;
    margin: 0;
}
.the-Line{
    margin-left: 103px;;
    padding: 0;
    width: 1200px;
    background-repeat: no-repeat;
    height: 5px;
    background-image:url("/Pages/Mythology/Images/the-Line.png") ;
}
.Myth-Body{
    
    display: flex;
    justify-content: center;
   
}
.myth-text-holder{
    width: 600px;
    margin-left: 50px;
    margin-right: 50px;
}
#Myths-Overall{
    margin-top: 50px;
}
.container{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
}
@media  screen and (max-width: 800px) {
    .container{
        grid-template-columns: auto auto;
       }
    .Myth-Body{
        display:grid;
        justify-content: center;
       
    }   
    .the-Line{
        width: 400px;
        margin-left: 5px;
    }
    .myth-text-holder{
        width: 300px;
   
    }
    .page-Border{
        width: 160px;
    }
    .myth-image{
        margin-left: 50px;
    }
 
}
@media screen and (max-width:400px){
    .container{
        grid-template-columns: auto;
    }
    .the-Line{
        margin-left:0px;
    }

}