body {
    background-color: rgb(62, 62, 63);
}

h1 {
    font-family: monospace, 'Times New Roman';
    font-style: italic;
    color: rgb(224, 160, 33);
    text-shadow: 2px 1px 2px rgb(81, 49, 5);
    text-align:center;
}

h3 {
    font-family: monospace, 'Times New Roman';
    color: rgb(0, 197, 174);
    text-shadow: 2px 1px 5px rgb(113, 15, 0);
    text-align:center;
}

p {
    font-family: 'Times New Roman';
    color: rgb(255, 255, 255);
    text-align:center;
    margin-right: 50px;
    margin-left: 50px;

}