body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* Change background color to every other page*/
  background: radial-gradient(#080808, #0f0f0f);
  color: #fff;
}

.wrap {
  width: 900px;
  max-width: 95%;
  height: 540px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 16px;
  overflow: hidden;
  background: #aeaeae;
}
/* IMAGE STYLING */
.left-img {
  width: 100%;          
  height: 100%;        
  object-fit: cover;    
  display: block;       
}

.right {
  background: linear-gradient(#233575, #c7a161);
  padding: 40px;
  position: relative;
}

/* MY HEADER TITLE */
h2 {
  text-align: center;
  margin-top: 60px;
  font-size: 22px;
  color: #e6ebff;
}

/* FORM AREA */
form {
  margin-top: 30px;
  display: grid;
  gap: 15px;
}

/* LABELS */
label {
  font-size: 12px;
  color: #a9b4d0;
  display: grid;
  gap: 6px;
}

/* INPUTS AND TEXT AREA */
input, textarea {
  background: #2a3547;
  border: none;
  color: #f3f5ff;
  padding: 12px;
  border-radius: 10px;
  outline: none;
}

input:focus, textarea:focus {
  border: 1px solid #3e76ff55;
}

/* SEND BUTTON */
.submit {
  background: linear-gradient(90deg, #fcffff, #fafffe);
  color: #053b35;
  border: none;
  padding: 12px 18px;
  border-radius: 999px;
  font-weight: bold;
  cursor: pointer;
}
/* FORM/ CONTACT STYLE*/
form {
  font-family: monospace, 'Times New Roman';
    font-style: italic;
    color: rgb(224, 160, 33);
    text-shadow: 2px 1px 2px rgb(81, 49, 5);
}

h2 {
  font-family: monospace, 'Times New Roman';
    font-style: italic;
    color: rgb(224, 160, 33);
    text-shadow: 2px 1px 2px rgb(81, 49, 5);
    font-size: 25px;
}


#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: #000; 
  overflow: hidden;
}